.speech{
    font-size: 14px;
    color: #000;
}
.stagedirection{
    font-size: 13px;
    background-color: #faebd7 ;
}
.stagedirection:hover{
    color: rgb(0,0,3);
    background-color: lightgreen;
}
.name{
    font-size: 17px;
    color: #000;
}
.ALGERNON{
    color:#8A2BE2;
}
.LANE{
    color: #125d98;
}
table 
{
    border: 1px solid black;
    width: 50%;
    height: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
td
{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
tr
{
    border: 1px solid black;
    padding: 10px;
    background-color:rgb(214, 64, 18) ;
}
tr:nth-child(even) 
{
    background-color:limegreen;
}





