.speech{
    font-size: 14px;
    color: #000;
}
.stagedirection{
    font-size: 13px;
    background-color: #faebd7 ;
}
.stagedirection:hover{
    color: rgb(0,0,3);
    background-color: lightgreen;
}
.name{
    font-size: 17px;
    color: #000;
}
.ALGERNON{
    color:#8A2BE2;
}
.LANE{
    color: #125d98;
}
table,th,td{
    border: 2px salmon;
    padding: 1rem 2rem;
    text-align: center;
}
td{
    color: #191970;
}
table
{
    border-collapse: collapse;
    margin: 3rem auto;
}
tr:nth-child(even){
    background-color:lightgrey;
}




