p.speech{
    font-size: 14px;
    color: #000;
}
p.stagedirection{
    font-size: 13px;
    background-color: #faebd7 ;
}
p.stagedirection:hover{
    color: rgb(0,0,3);
    background-color: lightgreen;
}
h3.ALGERNON{
    font-family: serif;
    font-size: 22px; ;
    color:#8A2BE2;
}
h3.ALGERNON:hover
{
    text-shadow: 2px 2px 5px green;
    border-style: solid;
}
h3.LANE{
    font-family: serif;
    font-size: 22px;
    color: #125d98;
}
h3.LANE:hover
{
    text-shadow: 2px 2px 5px violet;
    border-style: solid;
}
h3.JACK{
    font-family: monospace;
    font-size: 22px;
    color: tomato;
}
h3.JACK:hover
{
    text-shadow: 2px 2px 2px blueviolet;
    border-style: solid;
}
table 
{
    border: 1px solid blue;
    width: 50%;
    height: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
td
{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
tr
{
    border: 1px solid black;
    padding: 10px;
    background-color: red;
}
tr:nth-child(even) 
{
    background-color:limegreen;
}
.link 
{
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}
.name:hover
{
        border: 1px solid;
        border-color: inherit;
        box-shadow: 4px 6px 8px;
}
.navigation{
    width: 100%;
    overflow: auto;
}
.navigation a {
    float: left;
    padding: 12px;
    color:black;
    text-decoration: none;
    font-size: 16px;
}
.book{
    background-color:black;
}
@media screen and (max-width: 500px){
    .navbar a{
        float: none;
        display: block;
    }
}





